* {
    margin: 0;
    padding: 0;
}

html {
	scroll-timeline: --page-scroll block;
    scroll-behavior: smooth;
}

@keyframes grow-progress {
	from { transform: scaleX(0); }
	to { transform: scaleX(1); }
}

#progress {
	position: fixed;
	left: 0; top: 0;
	width: 100%; height: 1em;
	background: rgb(223, 208, 184);

	transform-origin: 0 50%;
	animation: grow-progress auto linear;
	animation-timeline: --page-scroll;
}

body{
    font-family: Arial;
}

.header{
    background-color: rgb(34, 40, 49);
    color: white;
    padding: 30px;
    z-index: 999;
    position: fixed;
    width: 100%;
}

.judul{
    transition: all ease-in-out 0.2s;
    color: white;
}

a{
    text-decoration: none;

}

.judul:hover{
    color: rgb(223, 208, 184);
}

.subjudul{
    padding-top: 140px;
    padding-left: 45px;
    padding-bottom: 35px;
    color: rgb(34, 40, 49);
}

.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
}

.card{
    border: 2px solid rgb(34, 40, 49);
    border-radius: 20px;
    padding: 10px;
    height: 300px;
    margin: 20px;
    width: 200px;
    transition: all ease-in-out 0.2s;
}

.card:hover{
    scale: 1.1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* .card:hover .overlay{
    display: block;
    background-color: yellow;
    width: 150px;
    border-radius: 20px;
}

.overlay{
    text-align: center;
    display: none;
    transition: all ease-in-out 0.3s;
} */

img{
    width: 150px;
    padding-top: 40px;
    padding-bottom: 30px;

}

.footer{
    background-color: rgb(34, 40, 49);
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
}

.inner_footer{
    color: white;
    border-right: 2px solid white;
    width: 100px;
    padding-right: 120px;
    text-align: left;
}

.inner_footer2{
    color: white;
    width: 90px;
    padding-right: 100px;
    text-align: left;
}


@media (max-width: 600px) {
    .container{
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
    }

    .card{
        height: 250px;
        width: 150px;
    }

    img{
        width: 100px;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    .footer{
        background-color: rgb(34, 40, 49);
        width: 100%;
        padding-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
    }

    .inner_footer{
        color: white;
        border-right: 2px solid white;
        width: 10px;
        /* padding-right: 120px;
        padding-top: 120px; */
        text-align: left;
    }

    .inner_footer2{
        color: white;
        width: 10px;
        padding-top: 30px;
        text-align: left;
    }
}